## Print Function

print() function comes with a parameter called 'end'. By default, the value of this parameter is '\n', i.e. the new line character.

In [2]:
for i in range (3): 
      print(i)

0
1
2

In [3]:
for i in range(3):
      print(i, end='   ')

0   1   2

In [4]:
for i in range(3):
      print(i, end='*')

0*1*2*

In [5]:
for i in range(3):
      print(i, end='')

012

print with placeholders %
```
%d  print as an integer
%f  print as a float
%s  print as a string

%m.nf
%.2f float with 2 digits after decimal
%6.2 float with 6 digits integer and 2 digits after decimal

```

In [1]:
print('first number is %d, second number is %f'%(x, y))

NameError: name 'x' is not defined

## Homework 3: print triangle with *

In [ ]:
Using nested loops

In [ ]:
Using string multiplication

In [65]:
max_star = int(input("please input maximum number of stars in a row:"))
for row in range(1,  max_star+1):
    print('*'*row)
    
for row in range(max_star-1, 0, -1):
    print('*'*row)

please input maximum number of stars in a row:5
*
**
***
****
*****
****
***
**
*

In [ ]:
## Print a Diamond Shape of starts of odd number of input

In [2]:
while True:
    width = int(input("please input maximum number of stars in a row:"))
    if width%2 != 0:
        break
    print('Please input an odd number.')
    
spaces = width//2
for row in range(1,  width+1, 2):
    print(' '*spaces, end='')
    print('*'*row)
    spaces -=1
    
# the bottom half of diamond, do not print middle row again (starts from width-2)
spaces = 1
for row in range(width-2, 0, -2):
    print(' '*(spaces), end='')
    print('*'*row)
    spaces +=1

please input maximum number of stars in a row:7
   *
  ***
 *****
*******
 *****
  ***
   *

Print the diamond in the middle of a row

In [68]:
# defind an offset to print the diamond in the middle of the row
offset = 10
print('Offset is ', offset)

while True:
    width = int(input("please input maximum number of stars in a row:"))
    if width%2 != 0:
        break
    print('Please input an odd number.')
    
spaces = width//2
for row in range(1,  width+1, 2):
    print(' '*(offset+spaces), end='')
    print('*'*row)
    spaces -=1
    
# the bottom half of diamond, do not print middle row again (starts from width-2)
spaces = 1
for row in range(width-2, 0, -2):
    print(' '*(offset+spaces), end='')
    print('*'*row)
    spaces +=1

Offset is  10
please input maximum number of stars in a row:7
             *
            ***
           *****
          *******
           *****
            ***
             *

## Swap the value of two variables

In [3]:
a = 3
b = 7
#a, b = b, a
print('a=', a, 'b=', b)

a= 7 b= 3

In [4]:
a = 3
b = 7
# swapping
c = a
a = b
b = c
print('a=', a, 'b=', b)

a= 7 b= 3

Without using Python's swap assignment directly

## Homework: Print odd numbers
Print all of the odd numbers between 80 to 101. Print as the following format:

each odd number in seperate line, with a sequence number in front of it. For example:

1) 81

2) 83

3) 85

In [24]:
i=1
for even in range(81, 101, 2):
    print("%d) %d" % (i, even))
    i=i+1

1) 81
2) 83
3) 85
4) 87
5) 89
6) 91
7) 93
8) 95
9) 97
10) 99

## Homework check if a given year is leap year or not

Using nested conditions

A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400. For example,

In [ ]:
year = int(input("Enter a year: "))
# Write your program below to check if the value of the variable 'year' is leap year or not

if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("{0} is a leap year".format(year))
           # or you can print in the following way
           # print("%d is a leap year" % year)
       else:
           print("{0} is not a leap year".format(year))
   else:
       print("{0} is a leap year".format(year))
else:
   print("{0} is not a leap year".format(year))

## Median Number
Write a Python program to find the median of three numbers from the user input.

In [5]:
a = int(input('number 1: '))
b = int(input('number 2:'))
c = int(input('number 3: '))

print(a, b, c)

if a>b:
    if c>a:
        print('median: ', a) # c>a>b
    elif c<b:
        print('median: ', b) # a>b>c
    else:
        printprint('median: ', c)
elif b>a
    if c>b:
        print('median: ', b) # c>b>a
    elif c<a:
        print('median: ', a) # b>a>c
    else:
        print('median: ', c)

number 123
number 212
number 315
23 12 15

## Compute the greatest common divisor (GCD) of two positive integers

In [ ]:
a = int(input('number 1: '))
b = int(input('number 2:'))

gcd = 1
if a > b:
    gcd = b
else:
    gcd = a

for x in range(gcd, 0, -1):
    if a%x == 0 and b%x == 0:
        print('gcd', x)
        break

## Get the least common multiple (LCM) of two positive integers

Use while True

## Find Required Numbers
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 2200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

## Check if a user input number is a Prime Number

In [12]:
a = int(input('input a positive number: '))

for x in range(2, a//2):
    if a%x == 0:
        print('not a prime number')
        break
else:
    print('it is a prime number')

input a positive number: 12
not a prime number

without using 'for loop else'

## Find 10 prime numbers that are bigger than 12345

Use 'while True'

## Chicken Story -1: 鸡兔同笼

Solving the famous ancient Chinese math problem called “Chickens and Rabbits in a Cage.”

A farmer put chickens and rabbits in a cage. There are totally 49 animals and 124 legs in the cage. How many rabbits are there in the cage?

Your output should be:

There are totally ?? rabbits in the cage!

In [13]:
#c = 49

for c in range (49, -1, -1): # chickens from 49, to 0
    r = 49 -c
    if c*2 + r*4 == 124:
        print('chickens: %d, rabbits: %d'% (c, r))

chickens: 36, rabbits: 13

## Chicken Story -2: Only Chickens

```
A rooster cost 5 dollars
A hen cost 3 dollars
Three baby chikens cost 1 dollars
```
Now you need to spend exactly $100 to buy exactly 100 chickens, without any money left. How many rooster, hen and baby chikens should you buy?
Note: There might be more than one solutions

## The Smart Monkeys

A group of monkeies picked up some peaches on the first day. They ate half of them and gave another peach from the other half left to a baby monkey.
On the second day, they ate half of what had left from previous day, and give another peach from the other half to a baby monkey.
Every day they did the same, until on the 15th day, they found they only have 1 peach left.

Make a program, print out how many peaches those monkey had on each day, from day 15 to day 1.

For Example, your program should print out like the following:
```
day 15: 1
day 14: 4
day 13: 10
...
...
```
Note: make a program to do the calculation, do NOT do the calculation yourself.

## Square Root
This problem is optional for students who do not know what is "square root".

There is a positive integer X. After adding 100 to x, we got y, which is equal to the square of an integer. Now we add 168 to y, again the result is equal to the square of another integer.

Make a program to find out the smallest possible value of X.

Note: make a program to do the calculation, do NOT do the calculation yourself.

Hint: to get the square root, use: math.sqrt( )